<div class="container flex-col flex items-center justify-center">

{{> menu}}

<!-- Hàng đầu tiên chứa các panel con gồm cảm biến temperature and humidity, photoresister, gas sensor-->
  <div class="first-row mt-[1rem] flex flex-row w-[90%]">
  <div class="tempHumid flex-1 w-full h-[13rem] bg-[rgb(202,212,198)] mx-[0.5rem]">
    <!-- Nội dung của cảm biến temperature and humidity -->
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Temperature and humidity</span>
    </div>

    <div class="internal-parameters mt-[1rem] flex flex-col items-center justify-center">
      <div class="temperature flex flex-row justify-between bg-[rgb(243,245,247)] w-[15rem] h-[3rem]">
        <div>Temparature</div>
        <div id="tempValue">32.3 C</div>
      </div>
      <div class="humidity flex flex-row justify-between mt-[0.5rem] bg-[rgb(243,245,247)] w-[15rem] h-[3rem]" >
        <div>Humidity</div>
        <div id="humidValue">60%</div>
      </div>
    </div>
    
  </div>

  <div class="photoresistor flex-1 w-full h-[13rem] bg-[rgb(202,212,198)] mx-[0.5rem]">
    <!-- Nội dung của cảm biến photoresistor -->
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Photoresistor sensor</span>
    </div>
    <div class="h-[11rem] w-[20rem]">
      <canvas id="photoresistor-chart"></canvas>
    </div> 
  </div>
  <div class="gasSensor flex-1 w-full h-[13rem] bg-[rgb(202,212,198)] mx-[0.5rem]">
    <!-- Nội dung của cảm biến gas sensor -->
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Gas sensor</span>
    </div>
    <div class="h-[11rem] w-[20rem]">
      <canvas id="gasSensor-chart"></canvas>
    </div>  
  </div>
</div>


<!-- Hàng thứ hai chứa các panel con gồm bật tắt servo, light, buzzer -->
  <div class="second-row mt-[1rem] flex flex-row w-[90%]">

  {{!-- <div class="led flex-1 w-full h-[7rem] bg-[rgb(202,212,198)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Servo</span>
    </div>

    <div class="controll-btn mt-[0.5rem] flex flex-row justify-center items-center">
      <span id="info">Cổng ra</span>
      <img src="./img/dropdown.svg" alt="Logo menu" class="ml-[1rem] w-[2rem] h-[3rem] cursor-pointer" id="dropDownIcon">
  
    <div class="menu hidden absolute top-[24rem] left-[8rem] bg-white shadow-lg rounded-md p-4" id="option">
      <ul class="space-y-2">
        <li class="cursor-pointer" data-option="Cổng vào">Cổng vào</li>
        <li class="cursor-pointer" data-option="Cổng ra">Cổng ra</li>
      </ul>
    </div>
      <button id="btn-on-servo" class="bg-[rgb(149,131,131)] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">On</button>
      <button id="btn-off-servo" class="bg-[rgb(63,52,52)] ml-[2rem] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">Off</button>
      <img id="block-servo" src="./img/auto-loading.svg" alt="Logo menu" class="ml-[1rem] w-[2rem] h-[3rem] cursor-pointer" >
    </div>
    
  </div> --}}

  <div class="light flex-1 w-full h-[7rem] bg-[rgb(202,212,198)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Light</span>
    </div>

    <div class="controll-btn mt-[0.5rem] flex flex-row justify-center">
      <button id="light-on" class="bg-[rgb(149,131,131)] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">On</button>
      <button id="light-off" class="bg-[rgb(63,52,52)] ml-[2rem] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">Off</button>
      <button id="block-light" class="bg-[rgb(63,52,52)] ml-[2rem] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">Unblock</button>
    </div>

  </div>

  <div class="buzzer flex-1 w-full h-[7rem] bg-[rgb(202,212,198)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Buzzer</span>
    </div>

    <div class="controll-btn mt-[0.5rem] flex flex-row justify-center">
      
      <button id="buzzer-on" class="bg-[rgb(149,131,131)] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">On</button>
      <button id="buzzer-off" class="bg-[rgb(63,52,52)] ml-[2rem] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">Off</button>
      <button id="block-buzzer" class="bg-[rgb(63,52,52)] ml-[2rem] text-white text-[1rem] font-medium py-[0.8rem] px-[2rem] rounded-md hover:bg-gray-500">Unblock</button>
    </div>
  </div>

</div>

<!-- Hàng thứ 3 chứa các panel con gồm vibration sensor, vehicle in, vehicle out -->
  <div class="third-row mt-[1rem] flex flex-row w-[90%]">
  <div class="vibration flex-1 w-full h-[16rem] bg-[rgb(202,212,198)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Vibration sensor</span>
    </div>
    <div class="h-[12rem] w-[23rem]">
      <canvas id="vibration-chart"></canvas>
    </div> 
    
  </div>
  <div class="vehicle-in flex-1 w-full h-[16rem] bg-[rgb(202,212,198)] mx-[0.5rem]">
    <div class="title mt-[0.5rem] font-[600] text-center">
      <span>Vehicle in</span>
    </div>
    {{#with result_in}}
    <div class="content flex flex-row justify-start mt-[0.5rem] ml-[0.5rem] mr-[0.5rem]">
      <img class="w-[12rem] h-[10rem]" id="vehicle-image-in" src="{{image_url}}" alt="Biển số xe">
      <div class="information flex flex-col">
        <span class=" ml-[0.5rem]" id="license-plate-in">License plate: {{license}}</span>
        <span class=" ml-[0.5rem]" id="time-in">Time: {{formatDate time}}</span>
        <span class=" ml-[0.5rem]" id="vehicle-id-in" data-index="{{index}}">ID: {{index}}</span>
      </div>
  </div>
  {{/with}}
  <div class="arrow-navigation mt-[0.5rem] flex flex-row justify-between w-[12rem]">
      <img src="./img/left-arrow.svg" alt="Logo menu" class="ml-[1rem] w-[2rem] h-[2rem] cursor-pointer" id="left-arrow-in">
      <img src="./img/auto-loading.svg" alt="Logo menu" class="ml-[1rem] w-[2rem] h-[2rem] cursor-pointer" id="auto-loading-in">
      <img src="./img/right-arrow.svg" alt="Logo menu" class="ml-[1rem] w-[2rem] h-[2rem] cursor-pointer" id="right-arrow-in">
  </div>
  </div>

  <div class="vehicle-out flex-1 w-full h-[16rem] bg-[rgb(202,212,198)] mx-[0.5rem]">
  <div class="title mt-[0.5rem] font-[600] text-center">
    <span>Vehicle out</span>
  </div>
  {{#with result_out}}
  <div class="content flex flex-row justify-start mt-[0.5rem] ml-[0.5rem] mr-[0.5rem]">
    <img class="w-[12rem] h-[10rem]" id="vehicle-image-out" src="{{image_url}}" alt="Biển số xe">
    <div class="information flex flex-col">
      <span class="ml-[0.5rem]" id="license-plate-out">License plate: {{license}}</span>
      <span class="ml-[0.5rem]" id="time-out">Time: {{formatDate time}}</span>
      <span class="ml-[0.5rem]" id="vehicle-id-out" data-index="{{index}}">ID: {{index}}</span>
    </div>
  </div>
  {{/with}}
  <div class="arrow-navigation mt-[0.5rem] flex flex-row justify-between w-[12rem]">
    <img src="./img/left-arrow.svg" alt="Logo menu" class="ml-[1rem] w-[2rem] h-[2rem] cursor-pointer" id="left-arrow-out">
    <img src="./img/auto-loading.svg" alt="Logo menu" class="ml-[1rem] w-[2rem] h-[2rem] cursor-pointer" id="auto-loading-out">
    <img src="./img/right-arrow.svg" alt="Logo menu" class="ml-[1rem] w-[2rem] h-[2rem] cursor-pointer" id="right-arrow-out">
  </div>
</div>

</div>
</div>

  <script src="./js/vehicle.js"></script>
  <script src="./js/sensor.js"></script>
  <script type='module' src="./js/controlPanel.js"></script>
